<div class="container-fluid shadow p-3  bg-white rounded" style="margin-top:80px">

        <div class="row">
            
                <h4 style="margin-left: 20px">Sports Section</h4>
            

        </div>

    </div>





    <div class="container-fluid shadow p-3 mb-5 bg-white rounded" style="margin-top:2px">

        <div class="row">



            <div class=" box zoom">
                <br>
                <img class="card-img-top" src="../../assets/pics2/chess-board.jpeg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Chess</h4><br>
                    <p class="card-text" style="color: green">Top Offers</p>
                    <a href="#">Explore Now!</a>
                </div>
            </div>

            <div class=" box zoom" style="width:200px;border: none; text-align: center">
                <br>
                <img class="card-img-top" src="../../assets/pics2/cricket-kit.jpeg" alt="Card image" style="width: 150px;height:160px">
                <div class="card-body">
                    <h4 class="card-title">Cricket</h4>
                    <br>
                    <p class="card-text" style="color: green">20-30% off</p>
                    <a href="#">Explore Now!</a>
                </div>
            </div>

            <div class=" box zoom" style="width:200px;border: none; text-align: center">
                <br>
                <img class="card-img-top" src="../../assets/pics2/curve-bow.jpeg" alt="Card image" style="width: 40px;height:160px">
                <div class="card-body">
                    <h4 class="card-title">Archery</h4><br>
                    <p class="card-text" style="color: green">Flat 25% off*</p>
                    <a href="#">Explore Now!</a>
                </div>
            </div>

            <div class=" box zoom" style="width:200px;border: none; text-align: center">
                <br>
                <img class="card-img-top" src="../../assets/pics2/cycling.jpeg" alt="Card image" style="width: 180px;height:135px">
                <div class="card-body"><br>
                    <h4 class="card-title">Cycling</h4><br>
                    <p class="card-text" style="color: green">min 40%-50% off*</p>
                    <a href="#">Explore Now!</a>
                </div>
            </div>

            <div class=" box zoom" style="width:200px;border: none; text-align: center">
                <br>
                <img class="card-img-top" src="../../assets/pics2/football-nivia-original.jpeg" alt="Card image" style="width: 140px;height:140px">
                <div class="card-body"><br>
                    <h4 class="card-title">Football</h4><br>
                    <p class="card-text" style="color: green">Top Offers</p>
                    <a href="#">Explore Now!</a>
                </div>
            </div>

            <div class=" box zoom" style="width:200px;border: none; text-align: center">
                <br>
                <img class="card-img-top" src="../../assets/pics2/hockey-stick.jpeg" alt="Card image" style="width: 80px;height:160px">
                <div class="card-body">
                    <h4 class="card-title">Hockey</h4><br>
                    <p class="card-text" style="color: green">flat 50% off*</p>
                    <a href="#">Explore Now!</a>
                </div>
            </div>



        </div>




    </div>