<br><br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="margin-left: 178px" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Electronics
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left: 178px">
              <a class="dropdown-item" href="#" style="font-weight: 700">Mobiles :</a>
              <a class="dropdown-item" href="#">Real Me</a>
              <a class="dropdown-item" href="#">Mi</a>
              <a class="dropdown-item" href="#">OPPO</a>
              <a class="dropdown-item" href="#">Nokia</a>
      
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" style="font-weight: 700">Laptops :</a>
              <a class="dropdown-item" href="#">HP</a>
              <a class="dropdown-item" href="#">Dell</a>
              <a class="dropdown-item" href="#">Lenovo</a>
              <a class="dropdown-item" href="#">Asus</a>
      
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" style="font-weight: 700">Mobile Accessories :</a>
              <a class="dropdown-item" href="#">Cases</a>
              <a class="dropdown-item" href="#">Power Banks</a>
              <a class="dropdown-item" href="#">Cables</a>
              <a class="dropdown-item" href="#">Pop-sockets</a>
            </div>
          </li>
      
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="margin-left: 160px; margin-right: 160px" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Men & Women
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left: 160px; margin-right: 160px">
                <a class="dropdown-item" href="#"style="font-weight: 700">Footwear :</a>
                <a class="dropdown-item" href="#">Sandals</a>
                <a class="dropdown-item" href="#">Casual Shoes</a>
                <a class="dropdown-item" href="#">Formal Shoes</a>
                <a class="dropdown-item" href="#">Heels</a>
        
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" style="font-weight: 700">Fashion :</a>
                <a class="dropdown-item" href="#">T-shirt</a>
                <a class="dropdown-item" href="#">Dresses</a>
                <a class="dropdown-item" href="#">Blazers</a>
                <a class="dropdown-item" href="#">Tops & Tees</a>
        
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" style="font-weight: 700">Watches :</a>
                <a class="dropdown-item" href="#">Fastrack</a>
                <a class="dropdown-item" href="#">Casio</a>
                <a class="dropdown-item" href="#">Sonata</a>
                <a class="dropdown-item" href="#">Titan</a>
              </div>
            </li>
      
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="margin-right: 160px" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Sports & more
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-right: 160px">
                <a class="dropdown-item" href="#" style="font-weight: 700">Sports :</a>
                <a class="dropdown-item" href="#">Football</a>
                <a class="dropdown-item" href="#">Cricket</a>
                <a class="dropdown-item" href="#">Skating</a>
                <a class="dropdown-item" href="#">Chess</a>
        
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" style="font-weight: 700">Books :</a>
                <a class="dropdown-item" href="#">Fictional Books</a>
                <a class="dropdown-item" href="#">Non-fictional Books</a>
                <a class="dropdown-item" href="#">Academics</a>
                <a class="dropdown-item" href="#">Entrane Exams</a>
        
                <div class="dropdown-divider"></div>
                <a class=
      "dropdown-item" href="#" style="font-weight: 700">Stationary :</a>
                <a class="dropdown-item" href="#">Diaries</a>
                <a class="dropdown-item" href="#">Card Holder</a>
                <a class="dropdown-item" href="#">Desk Organizer</a>
                <a class="dropdown-item" href="#">Calculator</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Offer Zone
              </a>
            </li>
        </ul>
      
        <!-- </div> -->
      </nav>
      
